
.content .upper{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.content .upper .judul{
    text-align: center;
    font-size: 30px;
}

.content .upper .desc{
    text-align: center;
}

.lokasi{
    margin-left: 150px;
}

.lokasi .descgambar{
    text-align: justify;
}

.content .mid{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;

}

.content .lokasi{
    margin-bottom: 70px;
}

.content .lokasi .gamdesc{
    display: flex;
}

.content .lokasi .gamdesc .gambar{
    margin-right: 20px;
}
