body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Comic San MS, 'Trebuchet MS', sans-serif;
}

.content .text1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 20px;
}


.content .Upper{
    display: flex;
    justify-content: center;
    top: 0%;
}

.content .Upper img{
    height: 100%;
    width: 100%;
}


.content .middle{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
}

.content .middle img{
    position: relative;
    width: 30px;
    height: 30px;

}
.content .middle img:hover{
    transition: 0.8s;
    transform: scale(1.1);
}

.content .middle .imageSlide img{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 150px;
    margin-right: 150px;
}

.content .prevBtn{
    display: flex;
    
}
.content .lower{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 70px;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

.content .convincing{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}

.content .convincing .register{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.content .convincing .register .register1{
    display: flex;
    align-items: center;
    text-align: center;
}

.content .convincing .register .register1 .register2 .picture img{
    align-items: center;
    width: 100px;
    height: 100px;
    
}

.content .convincing .register .register1 .register2 .desc{
    margin-left: 50px;
    margin-right: 50px;
    
    width: 250px;
}

